.main-div {
	margin: 0px 150px;

}
.nav {
	display: flex;
	justify-content: center;
}
ul {
	display: flex;
	list-style-type: none;
}
li, a {
	text-decoration: none;
	color: black;
	margin: 10px 10px 0px;
	font-size: 20px;
	color: #28130d;
}
.images-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.image {
	max-height: 80%;
	max-width: 80%;
}
.images-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}